

#main{
  background: #191a1d;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 calc(100% - 100px));
  background-size: 700px;
  height: 500px;
}


a, h1,h3, p{
  color: white;
}
#NameTitle{
  font-size: 1.5rem;
}

h1{
  font-size: 50px;
}
