



  <div id="main" class="row pt-5 mx-0">
  <div class="col-3">
    <a id="NameTitle" routerLink="/intro" class="font-weight-bold">
      HASSAN HARAJLY

    </a>
  </div>
  <div class="offset-3  col-2 px-0 pb-3">

      <a href="aboutme">
        ABOUT ME
      </a>
    </div>
    <div class="col-2 px-0">

        <a href="pastwork">
          PAST WORK
        </a>
      </div>
    <div class="col-2  px-0">

        <a href="contact">
          CONTACT
        </a>
    </div>

  <div class="row pb-5">
    <div class="col pb-5">

  <h1>
    My Projects
  </h1>
    </div>
  </div>


  </div>

