
<div class="row"></div>
  <div class="row"></div>



  <div class="row pt-5 mx-0">
  <div class="col-3">
    <h4 class="font-weight-bold">
      HARAJLY
    </h4>
  </div>
  <div class="offset-3  col-2 px-0">

      <a href="aboutme">
        ABOUT ME
      </a>
    </div>
    <div class="col-2 px-0">

        <a href="pastwork">
          PAST WORK
        </a>
      </div>
    <div class="col-2  px-0">

        <a href="contact">
          CONTACT
        </a>
    </div>
  </div>

<img src="assets/hassanphoto.png">


